.container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .container {
    display: block;
  }
}

.mainContent {
  width: 60%;
}
@media (max-width: 600px) {
  .mainContent {
    width: 100%;
  }
}
.mainContent header {
  padding: 0 0 20px;
  text-align: center;
}
.mainContent footer {
  border-top: 1px dashed #888;
  margin: 0 auto;
  padding: 40px 0 0;
}
@media (max-width: 600px) {
  .mainContent footer {
    margin: 0 auto 40px;
  }
}

.subContent {
  width: 35%;
}
@media (max-width: 600px) {
  .subContent {
    width: 100%;
  }
}

.post {
  margin: 0 auto 40px;
}
.post :global(h3) {
  /* 20220711 hide */
  /* margin: 0; */
  /* 20220711 hide */
  color: var(--fg);
  
  /* 20220711 add */
  margin: 0rem 0 1.2rem;
  padding: 0.5rem 0.0rem;
  border-bottom: 3px solid #000;
  /* 20220711 add */
}
.post :global(h4) {
  margin: 4.0rem 0 2.0rem;
  /* 20220711 add */
  padding: 0.5rem 1.2rem;
  border-left: 4px solid #000;
  background: #f4f4f4;
  font-size: 1.5rem;
  /* 20220711 add */

  color: var(--fg);
  /* 20220711 hide */
  /* margin: 1.8rem 0 0.8rem; */
  /* font-size: 1.1rem; */
  /* 20220711 hide */
}
.post :global(h4):after {
  color: var(--accents-1);
  font-size: 0.9rem;
  /* 20220711 hide */
  /* content: '▼'; */
  /* 20220711 hide */
  padding-left: 0.2rem;
}
.post :global(h5) {
  /* 20220711 add */
  padding: 0.1rem 0.8rem;
  border-left: 3px solid #000;
  margin: 3.0rem 0 1.2rem;
  color: var(--fg);
  font-size: 1.2rem;
  /* 20220711 add */
  
  /* 20220711 hide */
  /* margin: 1.8rem 0 0.8rem; */
  /* color: var(--fg); */
  /* font-size: 1.1rem; */
  /* 20220711 hide */
}
.post :global(h5):after {
  color: var(--accents-1);
  font-size: 0.9rem;
  /* 20220711 hide */
  /* content: '▼'; */
  /* 20220711 hide */
  padding-left: 0.2rem;
}
.post :global(h6) {
  margin: 1.8rem 0 0.8rem;
  color: var(--fg);
  font-size: 1.1rem;
}
.post :global(h6):after {
  color: var(--accents-1);
  font-size: 0.9rem;
  content: '▼';
  padding-left: 0.2rem;
}
.post :global(p) {
  margin: 0.3rem 0;
  font-size: 1rem;
  min-height: 1.8rem;
}
.post :global(video),
.post :global(img) {
  max-width: 100%;
  display: inline-block;
}
.post :global(blockquote) {
  margin: 0.6rem 0;
  padding: 0 0.9rem;
  border-left: 3px solid var(--fg);
  font-size: 1rem;
  line-height: 1.8rem;
}
.post table {
  margin: 1rem 0;
}
.post ul {
  font-size: 1rem;
}
.post ol {
  font-size: 1rem;
}
.post p code {
  color: #eb5757;
  padding: 0.25rem;
}
.post footer {
  padding: 0;
  border: 0;
}
