.container {
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
}

.container > div {
  margin-bottom: 40px;
}
.container div:last-child {
  margin-bottom: 0;
}

.container h2 {
  margin: 0 0 14px;
  font-size: 1.5rem;
  font-weight: 400;
}

.container p {
  font-size: 1.0rem;
  margin: 0.3rem auto;
  margin-left: 1rem;
  line-height: 2rem;
}
